DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
DB_HOST=node_db # localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=postgres
JWT_SECRET=paste-the-generated-string-here
MASTER_KEY=paste-the-master-key


DATABASE_URL_TEST="postgresql://username:password@localhost:5433/mydb?schema=public"
DB_TEST_HOST=teste_db
DB_TEST_PORT=5433
DB_TEST_USER=postgres
DB_TEST_PASSWORD=1234
DB_TEST_NAME=teste_db

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"